@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (min-width: 1000px) {
  .sections {
    display: none;
  }
} */

body {
  background-color: black;
  font-family: Verdana, sans-serif;
  max-width: 1600px;
  color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
}

.sections {
  font-family: Helvetica, sans-serif;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  padding: 0.5rem 0rem;
  font-size: 14px;
  border-bottom-width: 1px;
  border-color: #f4792e;

  button {
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    text-align: left;

    &:hover {
      text-decoration: underline;
    }
  }
}

.main-menu {
  button {
    font-size: 17px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-color: black;
    padding: 1.25rem;

    &:hover {
      border-color: #f4792e;
      color: #ccc;
    }
  }
}

.second-menu {
  button:hover {
    text-decoration: underline;
  }
}

.gray-box {
  padding: 0rem 0.75rem;
  background-color: #222;
  border: 1px solid #3d3d3d;
}

.preview {
  div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem;
    font-size: 12px;
  }
}

.preview-title {
  color: #f90;
  background-color: #222;
  user-select: none;
  padding: 0.25rem 0.5rem;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  /* width: 91px; */
  width: 100%;
  text-align: center;
  background-color: #333;
  border-color: #3d3d3d;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  color: #f90;

  button:hover {
    text-decoration: underline;
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
